.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal__open {
  display: flex;
}

.modal__container {
  position: relative;
  min-width: 500px;
  max-width: 850px;
  min-height: 350px;
  max-height: 850px;
  overflow-y: auto;
  padding: 1rem;
}

.modal_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
