@import url(./blocks/header.css);
@import url(./blocks/main.css);
@import url(./blocks/footer.css);
@import url(./blocks/shop.css);
@import url(./blocks/history.css);
@import url(./blocks/googleButton.css);
@import url(./blocks/brain.css);
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(./vendor/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
#root {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

button {
  background-color: #c3969c;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
